.container {
    padding   : 50px;
    padding-right: 100px;
    padding-left: 100px;
    background: #fff;
    @media screen and (max-width: 650px) {
         padding: 30px;
    }
}

.terms-container {
    min-height: 100vh;
    .container();

    .terms-header {
        text-align: center;
        font-size: 30px;
        line-height: 38px;
    };

    section {
        padding-bottom: 10px;
        padding-top: 10px;
    };

    p {
        padding-bottom: 10px;
        padding-top: 20px;
        text-align: justify;
    }
}

