@import '~antd/lib/style/themes/default.less';

.container > * {
//   background-color: rgba(255, 255, 255, 0);
  border-radius: 5px;
  box-shadow: @shadow-1-down;
}

@media screen and (max-width: @screen-xs) {
  .container {
    width: 100% !important;
  }
  .container > * {
    border-radius: 0 !important;
  }
}
